body {
  margin: 0;
  min-block-size: 100svb;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background: var(--color-canvas);
  color: var(--color-text);
  font-family: var(--font-base);
  font-size-adjust: from-font;
  letter-spacing: var(--tracking-base);
  line-height: var(--leading-base);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  max-inline-size: var(--measure-compact);
  font-family: var(--font-display);
  letter-spacing: var(--tracking-display);
  line-height: var(--leading-compact);
  text-wrap: balance;
}

h1,
.h1 {
  font-size: var(--xxx-large);
}

h2,
.h2 {
  font-size: var(--xx-large);
}

h3,
.h3 {
  font-size: var(--large);
}

p,
li,
dd {
  text-wrap: pretty;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  ul,
  ol,
  dl {
    padding-inline-start: 2ch;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style-type: none;
}

img,
iframe,
audio,
video,
svg,
canvas,
embed,
object {
  display: block;
  max-inline-size: 100%;
}

img,
video,
svg,
canvas {
  block-size: auto;
}

audio {
  inline-size: 100%;
}

svg {
  fill: currentColor;
}

figure {
  margin-inline: auto;
  inline-size: fit-content;
}

figcaption {
  contain: inline-size;
  font-size: var(--font-size-s);
}

input,
select,
textarea,
button {
  font: inherit;
  font-size: max(16px, 1em);
}

input,
textarea {
  inline-size: 100%;
  border: 2px solid;
  border-radius: 0;
  padding: 0.25em 0.75em;
}

textarea:not([rows]) {
  min-block-size: 5lh;
  resize: vertical;
}

fieldset,
iframe {
  border: none;
}

code,
kbd,
samp {
  font-family: var(--font-mono);
  tab-size: 2;
  box-decoration-break: clone;
}

@supports not (font-size-adjust: from-font) {
  code,
  kbd,
  samp {
    font-size: 0.95em;
  }
}

table {
  inline-size: 100%;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

th,
td {
  border: 1px solid;
  padding: 0.25em 0.5em;
  vertical-align: top;
  text-align: start;
}

[role="region"][aria-labelledby][tabindex] {
  overflow: auto;
}

[hidden]:not([hidden="until-found"]) {
  display: none !important ;
}

:focus-visible {
  outline-offset: 2px;
}

@supports (position-area: end) {
  [popover] {
    margin: 0;
    position-area: end span-end;
    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  html {
    interpolate-size: allow-keywords;
    &:focus-within {
      scroll-behavior: smooth;
    }
  }
}
