*:not(dialog) {
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  min-block-size: 100svb;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background: #e8e8e8;
  color: #212121;
  font-family: var(--font-literata);
  font-size: 1.25rem;
  font-size-adjust: from-font;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  letter-spacing: -0.04ch;
  line-height: 1.2;
}

a {
  color: currentColor;
}

ul,
ol {
  padding-inline-start: 2ch;
}

ul[role="list"],
ol[role="list"] {
  padding-inline-start: 0;
  list-style-type: none;
}

.wrapper {
  margin-inline: auto;
  inline-size: min(80ch, 90%);
}

.region {
  padding-block: 6rem;
}

.region + .region {
  padding-block-start: 0;
}

.site-header {
  background: #565451;
  color: #fff;
}

.site-header-inner {
  display: flex;
  gap: 1ch;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5%;
}

.site-nav {
  display: flex;
  gap: 1ch;
}

.site-footer {
  background: #565451;
  color: #fff;
}

.site-footer-inner {
  display: flex;
  gap: 1ch;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5%;
}

.card {
  border: 1px solid;
}
